<center><h1>MARTA Bus Transit App</h1>

<p>
  Give us your address or approximate location and we'll
  let you know if there's a bus in vicinity!
</p>

<%= render 'form', location: @location %>
</center>